* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.side-bar {
  width: 25%;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.side-bar h3 {
  font-size: 22px;
  margin-bottom: 10px;
  border-bottom: 3px solid #a09f9f;
  padding-bottom: 5px;
}

.draw-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.draw-form input {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #025f26;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#vector2 {
  margin-bottom: 15px;
}

button:hover {
  background-color: #369259;
}

.visualizer {
  flex: 1;
  background-color: #181818; 
  position: relative;
}

.operations select {
  padding: 4px;
  border-radius: 3px;
  
}